*{
    margin: 0px;
    padding: 0px;
}
.AboutMe{
    /* height: 100vh; */
    background-color: yellowgreen;
}
.subHeadingSet{
    
    height: 70px;
    width: 200px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    padding-top: 5px;
}
.subHeadText{
    background-color: red;
    padding: 15px;  
}
.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentAbout{
margin: 20px;

}
.favContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fav1{
    height: 250px;
    width: 250px;
    margin-top: 45px;
    margin-right: 45px;
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 85%) 2.4px 2.4px 3.2px; */
    box-shadow: #e9765b 2.4px 2.4px 3.2px;
    transform: rotate(350deg);
}

.fav1_cap{
    transform: rotate(350deg);
    display: flex;
    justify-content: center;
  
}
.fav2{
    height: 250px;
    width: 250px;
    margin-bottom: 8px;
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 85%) 2.4px 2.4px 3.2px; */
    box-shadow: #e9765b 2.4px 2.4px 3.2px;
}
.fav2_cap{
    display: flex;
    justify-content: center;
}
.fav3{
    height: 250px;
    width: 250px;
    margin-top: 45px;
    margin-left: 45px;
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 85%) 2.4px 2.4px 3.2px; */
    box-shadow: #e9765b 2.4px 2.4px 3.2px;
    transform: rotate(10deg);
}
.fav3_cap{
    transform: rotate(10deg);
    display: flex;
    justify-content: center;
}
.detailedText{
    width: 80%;
    margin: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.6;
}
i.fab{
    font-size: x-large;
}
.list{
    font-size: 24px;
    font-style: italic;
    list-style-type: none;
    margin: 20px 80px;
    flex-wrap: wrap;
}
.sets{
    /* margin: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.items{
    margin-bottom: 10px;
}
.adjustDate{
    text-align: right;
}