*{
    margin: 0px;
    padding: 0px;
}
.AboutMe{
    /* height: 100vh; */
    background-color: white;
}
.react-reveal.subHeadingSet{ 
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}
.subHeadingSet{
    text-align: center; 
    height: 70px;
    width: 200px;
    padding-top: 5px;
    /* margin-top: 10px;
margin-left: 10px;
    height: 70px;
    width: 210px;
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    /* padding-top: 5px;  */
}
/* .about_subHeadText{
    background-color: #F08E80;
    padding: 15px;
    width: 180px;
} */
.about_subHeadText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      
      box-shadow: 
      0.3em 0.3em 0 0 #F08E80,
      inset 0.3em 0.3em 0 0 #F08E80;
      width: 180px;
}


.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro_about{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentAbout{
margin: 20px;

}
.loveStyle{
    text-decoration: none;
}
.favContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.fav1{
    margin: 20px;
    height: 250px;
    width: 250px;
    /* margin-top: 45px; */
    /* margin-right: 45px; */
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 85%) 2.4px 2.4px 3.2px; */
    box-shadow: #e9765b 2.4px 2.4px 3.2px;
    /* transform: rotate(350deg); */
}

.fav1:hover{
    filter: opacity(60%);
    
}

.fav1_cap{
    /* transform: rotate(350deg); */
    display: flex;
    justify-content: center;

}
.fav2{
    margin: 20px;
    height: 250px;
    width: 250px;
    /* margin-bottom: 8px; */
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 85%) 2.4px 2.4px 3.2px; */
    box-shadow: #e9765b 2.4px 2.4px 3.2px;
}
.fav2:hover{
    filter: opacity(60%);
    
}
.fav2_cap{
    display: flex;
    justify-content: center;
}
.fav3{
    margin: 20px;
    height: 250px;
    width: 250px;
    /* margin-top: 45px; */
    /* margin-left: 45px; */
    object-fit: cover;
    /* box-shadow: rgba(0, 0, 0, 85%) 2.4px 2.4px 3.2px; */
    box-shadow: #e9765b 2.4px 2.4px 3.2px;
    /* transform: rotate(10deg); */
}
.fav3:hover{
    filter: opacity(60%);
    
}
.fav3_cap{
    /* transform: rotate(10deg); */
    display: flex;
    justify-content: center;
}
.typeWriter {
    width: 80%;
    margin: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.6;
    
}
.detailedText{
    width: 80%;
    margin: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.6;
}
/* i.fab{
    font-size: x-large;
} */
.setHobby{
    color: #E9765B;
    margin-left: 10%;
    margin-bottom: 10px;
    align-self: flex-start;
    font-style: italic;
}
.list{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
   
    margin: 10px 80px; 
    flex-wrap: wrap;
}
.sets{
    /* margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.items{
  margin: 1rem;
    /* margin-top: 15px;
    margin-bottom: 10px; */
}
.itemsCustom{
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.adjustDate{
    text-align: right;
}
.setVS{
    
    height: 25px;
    width: 25px;
}
.items1{
    height: 50px;
    font-weight: 100;
}
.fa, .fas {
    font-weight: 0;
}
heni:before {
    /* content: "\f121"; */
    font-weight: 900 !important;
}
heni:before {
    /* content: "\f1c0"; */
    font-weight: 900 !important;
}
