.Academic{
   
    background-color: #FDF0E6;
}
.frame{
   border-radius: 10px;
    width: 90%;
    margin-inline: auto;
    margin-top: 30px;
    text-align: center;
    border: 2px solid black;
    background-color: #F08E80;
    /* margin: 0 auto; */
}

.academic_subHeadText{
  
    box-shadow: 
    0.3em 0.3em 0 0 #F08E80,
    inset 0.3em 0.3em 0 0 #F08E80;
    width: 180px;
    padding: 15px;
}
.subHeadingSet{
    height: 70px;
    width: 200px;
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    padding-top: 5px;
}
/* .fas{
    margin: 10px;
    font-size: xxx-large;
   text-align: left;

} */
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.center{
    margin: 10px;

   width:33.33333%;

}
.right1{
    margin: 10px;
    font-style: italic;
    text-align: right;
    width:33.33333%;
}