*{
  margin: 0px;
  padding: 0px;
}
.styling_header{
  background-color: #FAB1A0;
}
.styling_logo{
  margin-left: 20px;
  border: 2px solid #00CEC9;
  
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.styling_flex_items ul{
  display: flex;
  justify-content: flex-start;
  
}
.styling_list{
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;

}
.listitems{
  margin: 20px;
  color: #FFEAA7;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* .listitems:hover{
  color: #00CEC9;
  cursor: pointer;  
} */
.listitems:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00CEC9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.listitems:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}