.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDF0E6;
    color: black;
    display: flex;
    flex-direction: row;
      flex-wrap: wrap;
      justify-content:  flex-start;
      align-items: center;
  }
  .footerText{
      
      font-style: italic;
      font-size: 15px;
     
  }