.listitems{
    margin: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .listitems > .active{
    border-bottom: 2px solid #00CEC9;
  }
  /* .listitems:hover{
    color: #00CEC9;
    cursor: pointer;  
  } */
  /* .listitems:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: #b9d4db;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .listitems:hover>.active {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */