.Resume{
    min-height: 100vh;
    background-color: #FDF0E6;
}
.setResume{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    z-index: auto;
}
.subHeadingSet{

    height: 70px;
    width: 210px;
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    padding-top: 5px;
}
.resume_subHeadText{
    background-color: #F08E80;
    padding: 15px;
    width: 150px;
}