.Resume{
    min-height: 100vh;
    background-color: #FDF0E6;
}
.setResume{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    z-index: auto;
}